h1 {
    text-align : center;
    color : #4682B4;
    font-family: 'Molengo', Georgia, Times, serif;
}

a{
    padding : 124px;
    color : black;
    text-decoration : none;

}

body {
    background-color : #f1f0ee;

}

input[type=text], input[type=email], select, textarea {
    width: 60%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;
    resize: vertical;

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;

}

input[type=submit]:hover {
    background-color: green;
}

section {
    padding : 45px;
    border : solid grey 10px;
    background-color : #FFEBCD;

}

h2 {
    text-align : center;
}

#imgAccueil {

    width : 1226px;
    height : 680px;
    margin-left : 475px;
    max-width : 1300px;
}

#container {
    width : 1500px;
}


.contentFormContact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}


#ongletContact, #ongletReservation {
    text-align:center;
}

.photosChambres img {
    height : 400px;


}

.photosChambres .decriChambre{
    overflow: auto;
}


.photosChambres .bloc1{
    width: 60%;
    float: left;
}

.photosChambres .bloc2{
    overflow: auto;
}

.photosChambres label{
    color: #4682B4;
    font-size: 30px;
}

#ongletReservation label { display:inline-block; width:50em; }

#ongletReservation input,textarea { display:inline-block; }
